
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center
    ;
    margin-right: 97px;
    
}
.header{
    background-color: rgba(229, 84, 115, 0.10);
}
.head{
    padding: 197px 0px 147px 240px;
}
.pic{
    padding: 50px 240px 0px 0px;
}
.title{
    display: flex;
    width: 750px;
    flex-direction: column;
    color: #272727;
font-family: Lato;
font-size: 80px;
font-style:bolder;
font-weight: 800;
line-height: normal;
}
.comment{
    display: flex;
    width: 634px;
    flex-direction: column;
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-top: 32px;
}
.btn{
    border-radius: 8px;
    background: #E55473;
    
padding: 20px 43px;
align-items:center;
color: white;
border: none;

}
